<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Intercambio Navideño 2025</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>🎄 Intercambio Navideño 2025 🎄</h1>
            <nav>
                <a href="{{ url_for('index') }}">Inicio</a>
                <a href="{{ url_for('ver_santa') }}">Mi carta a Santa Claus</a>
                <a href="{{ url_for('ver_regalos') }}">¿A quién le voy a regalar?</a>
            </nav>
        </header>
        
        <main>
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="messages">
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            
            {% block content %}{% endblock %}
        </main>
        <div class="info-box">
            <p><font size="4">Estimados miembros de la familia, hemos creado esta interfaz de Python para que podamos organizar el intercambio y que todos podamos participar. Aquí no importa el tamaño o el precio del regalo, sino la intención y el cariño que cada uno de nosotros tiene para dar. Ya sé que no es la mejor interfaz del mundo, pero nos sirve para que el espíritu navideño llegue a Xalapa, a Japón y a donde ustedes quieran. ¡Gracias a todos por hacerlo posible! ¡Reciban un gran abrazo!<br><br>Alvaro</font></p>
        </div>    
        <footer>
            <p><font size="6">¡Feliz Navidad!</font></p>
            <p><font size="7">🎅🏼</font></p>
            <!--<nav>
                <a style=background-color:#ff0000; href="{{ url_for('sorteo') }}">Sorteo</a>
            </nav>-->
        </footer>
    </div>
</body>
</html>

